@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
body{
    background-color: rgb(0, 0, 0);
    color: white;
}
label{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
input{
    padding-top: 10px;
    border-radius: 15px;
    width: 500px;
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid white;

}
input:focus{
    outline: none;
}
h2{
    font-size: 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
    text-align: center;
    letter-spacing:12px;
    font-family: 'Montserrat', sans-serif;  
}
i{
    margin-left: 20px;
}

textarea{
    border-radius: 15px;
    border-color: black;
    width: 500px;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.row{
    display: flex;
    padding-top: 20px;
}
.col-3{
    display:grid;
    margin-left: 400px;
    margin-top: 10px;
    margin-right: 50px;
}
.col-7{
    margin-bottom: 20px;
    
}
.discription{
    padding-bottom:150px;
}
.button{
    text-align: center;
}
input[type=submit]{
    font-size: 17px;
    width: 157px;
    margin-top: 30px;
    border: 2px solid white;
    margin-left: 100px;
    padding-bottom: 10px;
    color:white;
    transition: 0.3s all ease-in;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
input[type=submit]:hover{
    background-color: white;
    color: black;
    border: 6px double black;
    transition: 0.3s all ease-in;
}
th,tr,td {
    padding: 15px;
}
 
.container{
      text-align: center;
      margin-left: 15%;
      margin-top: 50px;

      
}

 table{ 
    width: 80%;
    font-family: 'Montserrat', sans-serif;  

 }

 a{
     color:white;
     background-color: transparent;
     border: 2px solid white;
     text-decoration: none;
     padding: 10px;
     border-radius: 20px;
     padding-inline: 35px ;
     transition: 0.3s all ease-in;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 900;
 }
 a:hover{
    background-color: white;
    color: black;
    border: 6px double black;
    transition: 0.3s all ease-in;

 }
 .btn{
     text-align: center;
     margin-top: 50px;
 }
